# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\DAW\PROG\PrimeraEvaluación\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
